<head>
  <link rel="stylesheet" href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway:400,500,700') }}>
</head>
<script>

});
</script>
{% extends "layout.html" %}
{% block content %}

    <br><br><br>
        <div>
          <figure class="newsframe">

          	<img src="https://s.yimg.com/uu/api/res/1.2/PZlTHUVFx99EIAPrcbnrAA--/aD00Mjc7dz02NDA7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/170bad5bb238a37ef17bdd0a63c48df8" alt="pr-sample15" />

            <div class="image">

            	<img src="https://s.yimg.com/uu/api/res/1.2/PZlTHUVFx99EIAPrcbnrAA--/aD00Mjc7dz02NDA7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/170bad5bb238a37ef17bdd0a63c48df8" class="resize" alt="pr-sample15" />
            </div>


            <figcaption>
              <h3>Trump and the NY ‘establishment’</h3>
              <p>NEW YORK—Donald Trump was having a moment.
              </p>
            </figcaption>

            <span class="read-more">
              Read More <i class="ion-android-arrow-forward"></i></span>
            <a href="https://www.yahoo.com/news/trump-and-the-establishment-if-you-cant-join-121601576.html"></a>
          </figure>
        </div>
        <div>
          <figure class="newsframe">

          	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18" />

            <div class="image">

            	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18"/>
            </div>

            <figcaption>
              <h3>NASA discovers burst of light</h3>
              <p>Using equipment called the Laser Interferometer Gravitational-Wave Observatory (LIGO), the researchers detected ripples in the fabric of space-time called gravitational waves,</p>
            </figcaption>

            <span class="read-more"> Read More <i class="ion-android-arrow-forward"></i></span>
            <a href="http://finance.yahoo.com/news/nasa-detected-burst-light-might-190500486.html"></a>
          </figure>
      </div>
      <div>
        <figure class="newsframe">

        	<img src="https://s.yimg.com/lo/api/res/1.2/oS_nDgRhrwtx5.q1tA15Ww--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MTtpbD1wbGFuZQ--/http://41.media.tumblr.com/c5f52dfd8fc346fbb9b464f926c2e486/tumblr_inline_o5udo4ngjQ1tv5q8i_1280.jpg" alt="pr-sample16" />

          <div class="image">

          	<img src="https://s.yimg.com/lo/api/res/1.2/oS_nDgRhrwtx5.q1tA15Ww--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MTtpbD1wbGFuZQ--/http://41.media.tumblr.com/c5f52dfd8fc346fbb9b464f926c2e486/tumblr_inline_o5udo4ngjQ1tv5q8i_1280.jpg" alt="pr-sample16" />
          </div>


          <figcaption>
            <h3>Guardians Of The Galaxy 2</h3>
            <p>John C Reilly, who played Corpsman Dey in the first film, “is not back for Volume 2, unfortunately”,</p>
          </figcaption>

          <span class="read-more"> Read More <i class="ion-android-arrow-forward"></i></span>
          <a href="http://www.denofgeek.com/movies/guardians-of-the-galaxy-vol-2/39135/guardians-of-the-galaxy-2-two-cast-members-not-returning"></a>
        </figure>
      </div>
      <div>
        <figure class="newsframe">

        	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18"/>

          <div class="image">

          	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18"/>
          </div>

          <figcaption>
            <h3>NASA discovers burst of light</h3>
            <p>Using equipment called the Laser Interferometer Gravitational-Wave Observatory (LIGO), the researchers detected ripples in the fabric of space-time called gravitational waves,</p>
          </figcaption>

          <span class="read-more"> Read More <i class="ion-android-arrow-forward"></i></span>
          <a href="http://finance.yahoo.com/news/nasa-detected-burst-light-might-190500486.html"></a>
        </figure>
      </div>
        <div>
          <figure class="newsframe">

          	<img src="https://s.yimg.com/lo/api/res/1.2/oS_nDgRhrwtx5.q1tA15Ww--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MTtpbD1wbGFuZQ--/http://41.media.tumblr.com/c5f52dfd8fc346fbb9b464f926c2e486/tumblr_inline_o5udo4ngjQ1tv5q8i_1280.jpg" alt="pr-sample16" />

            <div class="image">

            	<img src="https://s.yimg.com/lo/api/res/1.2/oS_nDgRhrwtx5.q1tA15Ww--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MTtpbD1wbGFuZQ--/http://41.media.tumblr.com/c5f52dfd8fc346fbb9b464f926c2e486/tumblr_inline_o5udo4ngjQ1tv5q8i_1280.jpg" alt="pr-sample16" />
            </div>


            <figcaption>
              <h3>Guardians Of The Galaxy 2</h3>
              <p>John C Reilly, who played Corpsman Dey in the first film, “is not back for Volume 2, unfortunately”,</p>
            </figcaption>

            <span class="read-more"> Read More <i class="ion-android-arrow-forward"></i></span>
            <a href="http://www.denofgeek.com/movies/guardians-of-the-galaxy-vol-2/39135/guardians-of-the-galaxy-2-two-cast-members-not-returning"></a>
          </figure>
        </div>
        <div>
          <figure class="newsframe">

          	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18"/>
            <div class="image">

            	<img src="https://s.yimg.com/lo/api/res/1.2/5ywlBgBwKTvb5F0T7UehjA--/YXBwaWQ9eW15O3c9NjQwO3E9NzU7c209MQ--/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/NASA_has_detected_a_burst-278f72680f7436005f33b743c7aa8294" alt="pr-sample18"/>
            </div>

            <figcaption>
              <h3>NASA discovers burst of light</h3>
              <p>Using equipment called the Laser Interferometer Gravitational-Wave Observatory (LIGO), the researchers detected ripples in the fabric of space-time called gravitational waves,</p>
            </figcaption>

            <span class="read-more"> Read More <i class="ion-android-arrow-forward"></i></span>
            <a href="http://finance.yahoo.com/news/nasa-detected-burst-light-might-190500486.html"></a>
          </figure>
        </div>
  </div>
{% endblock %}
